{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.json", "tsconfig.json"],
      "options": {
        "printWidth": 50
      }
    }
  ],
  "prettierIgnore": [".aicontext"]
}
